ecommerce-customer-service-agent/n8n/workflows/api-get-products.json
{
  "name": "API: Get Products",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "products",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "products-api"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, sku, name, description, price, category, variants, image_url, created_at FROM products ORDER BY category, name",
        "options": {}
      },
      "id": "query-products",
      "name": "Query Products",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Ecommerce"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT category FROM products WHERE category IS NOT NULL ORDER BY category",
        "options": {}
      },
      "id": "query-categories",
      "name": "Query Categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Ecommerce"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "const products = $('Query Products').all();\nconst categoriesRaw = $('Query Categories').all();\n\nconst categories = categoriesRaw.map(c => c.json.category);\n\nconst formattedProducts = products.map(p => {\n  let variants = p.json.variants;\n  if (typeof variants === 'string') {\n    try {\n      variants = JSON.parse(variants);\n    } catch (e) {\n      variants = [];\n    }\n  }\n  \n  return {\n    id: p.json.id,\n    sku: p.json.sku,\n    name: p.json.name,\n    description: p.json.description,\n    price: parseFloat(p.json.price),\n    category: p.json.category,\n    variants: variants || [],\n    image_url: p.json.image_url\n  };\n});\n\nreturn [{\n  json: {\n    products: formattedProducts,\n    categories: categories,\n    total: formattedProducts.length\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Products": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Categories": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "api"
    },
    {
      "name": "products"
    }
  ],
  "pinData": {}
}
